
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Georgia';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Georgia';
    float: center;
    align
    position: relative;
    /* border: 5px solid red; */
}
h2 {
    font-size: 2em;
    font-family:'Georgia';
    /* padding: 10px; */
    /* border: 5px solid gray; */
}
.about
{
  width: 1004px;
  align: center;
  padding-left: 400px;
}
#about_text
{
    width: 1004px;
}
#activities
{
    text-align:center;
    /* width: 400px; */
}
#soccer, #tutor
{
    display:inline;
    border: 2px solid gray;
}
#soccer, #soccer_text
{
    border-collapse:collapse;
    border-spacing:0
    font-size: 1em;
    font-family:'Georgia';
    width: 450px;
    padding: 10px;
    display: inline-block;
    vertical-align:baseline;
}
#soccer_title
{
  vertical-align:baseline;
  display: inline-block;
  font-size: 2em;
  font-family:'Georgia';
  width: 500px;
}
#tutor, #tutor_text
{
    border-collapse:collapse;
    border-spacing:0
    font-size: 1em;
    font-family:'Georgia';
    width: 500px;
    padding: 10px;
    display: inline-block;
    vertical-align:baseline;
}
#tutor_title
{
  vertical-align:baseline;
  display: inline-block;
  font-size: 2em;
  font-family:'Georgia';
  width: 500px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 20em;
}

ul.posts li {
    list-style: none;
}
